# ADVANCED PANDAS: DATA PREPROCESSING

## Course Outline:
- ***Introduction to Data Wrangling***
    - ***Case-study: Data Preprocessing for The Absolute Beginners***
- ***Data Cleaning & Preparation***
    - ***Data Cleaning (Missing & Duplicated Data)***
    - ***String Manipulation (Regular Expression)***
    - ***Data Transformation***
- Merging, Joining, and Concatenating Data
    - concat()
    - merge()
    - join()
- Aggregation and Grouping
    - groupby()
- Reshaping and Pivoting
    - pivot()
    - pivot_table()
    - crosstab()

==========

# *Introduction to Data Wrangling*

## Data Wrangling (Munging) Basics
Data wrangling is defined as the process of taking disorganized or incomplete raw data and standardizing it so that you can easily access, consolidate, and analyze it (i.e. SNR), the steps are as follow:
- Discovering (Understanding Data)
- Structuring (Features Splitting, Tidy-data)
- Cleaning (Missing Data, Outliers Detections, Remove Duplications)
- Enriching (Merging, Concatenation)
- Validating (Data Types)
- Publishing (Readiness for Analysis & Visualization)

In [ ]:
from IPython.display import Image
Image("data/preprocessing.png")

### Resources:
- Cheat Sheet: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
- User Guide (10 Minutes Pandas): https://pandas.pydata.org/docs/user_guide/10min.html
- Exercises: https://www.w3resource.com/python-exercises/pandas/index.php

## Case-study: Data Preprocessing for The Absolute Beginners

Our client is a credit card company. They have brought us a dataset that includes some demographics and recent financial data (the past six months) for a sample of 30,000 of their account holders.

Data Source (Modified): https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients#

### Step #0: Importing the Libraries

In [2]:
import pandas as pd
import numpy as np

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
import seaborn as sns
sns.set()

In [47]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

### Step #1: Loading the Case Study Data

In [8]:
data = pd.read_csv('data/credit-card-clients.csv')

In [10]:
data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,ecff42d0-bdc6,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,99d1fa0e-222b,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,95cdd3e7-4f24,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,00d03f02-04cd,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,15d69f9f-5ad3,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

### Step #2: Verifying Basic Data Integrity
we will perform a basic check on whether our dataset contains what we expect and verify whether there are the correct number of samples.

### Inspecting Properties

In [12]:
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [14]:
data.tail()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
29995,ecff42d0-bdc6,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,99d1fa0e-222b,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,95cdd3e7-4f24,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,00d03f02-04cd,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,15d69f9f-5ad3,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  object
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_1                       30000 non-null  object
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [20]:
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [22]:
data.isnull()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [26]:
data.shape

(30000, 25)

### Step #3: Data Preprocessing

### Finding & Dealing with Duplicated Rows

In [28]:
data['ID']

0        798fc410-45c1
1        8a8c8f3b-8eb4
2        85698822-43f5
3        0737c11b-be42
4        3b7f77cc-dbc0
             ...
29995    ecff42d0-bdc6
29996    99d1fa0e-222b
29997    95cdd3e7-4f24
29998    00d03f02-04cd
29999    15d69f9f-5ad3
Name: ID, Length: 30000, dtype: object

In [32]:
data['ID'].unique()

array(['798fc410-45c1', '8a8c8f3b-8eb4', '85698822-43f5', ...,
       '95cdd3e7-4f24', '00d03f02-04cd', '15d69f9f-5ad3'], dtype=object)

In [38]:
data['ID'].nunique()

29687

In [40]:
data['ID'].value_counts()

ID
ad23fe5c-7b09    2
1fb3e3e6-a68d    2
89f8f447-fca8    2
7c9b7473-cc2f    2
90330d02-82d9    2
                ..
2edeb3a6-d38d    1
27e11893-92e9    1
2b1c282b-441e    1
bd737997-0eb0    1
15d69f9f-5ad3    1
Name: count, Length: 29687, dtype: int64

In [42]:
data['ID'].value_counts().value_counts()

count
1    29374
2      313
Name: count, dtype: int64

In [44]:
id_count = data['ID'].value_counts()
id_count

ID
ad23fe5c-7b09    2
1fb3e3e6-a68d    2
89f8f447-fca8    2
7c9b7473-cc2f    2
90330d02-82d9    2
                ..
2edeb3a6-d38d    1
27e11893-92e9    1
2b1c282b-441e    1
bd737997-0eb0    1
15d69f9f-5ad3    1
Name: count, Length: 29687, dtype: int64

In [48]:
id_count == 2

ID
ad23fe5c-7b09     True
1fb3e3e6-a68d     True
89f8f447-fca8     True
7c9b7473-cc2f     True
90330d02-82d9     True
                 ...
2edeb3a6-d38d    False
27e11893-92e9    False
2b1c282b-441e    False
bd737997-0eb0    False
15d69f9f-5ad3    False
Name: count, Length: 29687, dtype: bool

In [50]:
id_count.index

Index(['ad23fe5c-7b09', '1fb3e3e6-a68d', '89f8f447-fca8', '7c9b7473-cc2f',
       '90330d02-82d9', '2a793ecf-05c6', '75938fec-e5ec', '7be61027-a493',
       'a3a5c0fc-fdd6', 'b44b81b2-7789',
       ...
       'ed32d9fa-fc4d', '0d3c491a-f31a', '43b86f14-5293', '9aea1c3d-6a89',
       'eecd60d0-e496', '2edeb3a6-d38d', '27e11893-92e9', '2b1c282b-441e',
       'bd737997-0eb0', '15d69f9f-5ad3'],
      dtype='object', name='ID', length=29687)

In [56]:
dup_id = id_count.index[id_count == 2]
dup_id

Index(['ad23fe5c-7b09', '1fb3e3e6-a68d', '89f8f447-fca8', '7c9b7473-cc2f',
       '90330d02-82d9', '2a793ecf-05c6', '75938fec-e5ec', '7be61027-a493',
       'a3a5c0fc-fdd6', 'b44b81b2-7789',
       ...
       '4f249cbc-5e9c', '40e75290-0f59', 'fc73f07e-eb96', '2a8ad33f-fa9c',
       'cdae2be5-8ec4', 'c69162db-4864', '73ea498f-44b2', '327d06d5-ce7f',
       'd13465a5-a9e0', '841ae407-dc4c'],
      dtype='object', name='ID', length=313)

Using the first three IDs on our list of dupes, dupe_ids[0:3], we will plan to first find the rows containing these IDs. If we pass this list of IDs to the .isin method of the ID series, this will create another logical mask we can use on the larger DataFrame to display the rows that have these IDs.

In [62]:
dup_ids = list(dup_id)
dup_ids

['ad23fe5c-7b09',
 '1fb3e3e6-a68d',
 '89f8f447-fca8',
 '7c9b7473-cc2f',
 '90330d02-82d9',
 '2a793ecf-05c6',
 '75938fec-e5ec',
 '7be61027-a493',
 'a3a5c0fc-fdd6',
 'b44b81b2-7789',
 '998fa9b2-b341',
 '69566a6b-6156',
 '4e2380e6-a8cf',
 'b87bf8f3-d704',
 '4f95b36b-ab10',
 '214fc1ca-b25a',
 'ab09b4b4-8331',
 '4653bc48-0141',
 '3d832783-1571',
 'd9dafe9c-b497',
 '30729bb5-55d7',
 '26d4a6eb-8abe',
 '6c0797cd-f663',
 'e77f7765-8731',
 '3cd5c728-df14',
 'c361e43d-f1f4',
 '7e7a4087-4def',
 'ddcc7278-7017',
 'edd737fd-5b07',
 'cfa9d026-de0d',
 '6870544f-459e',
 '9ac5d94f-ed71',
 '2458b96d-e8f1',
 'bf23c70b-bf12',
 '3327c2a8-3402',
 '7fe414ae-32f8',
 '8d3a2576-a958',
 '82da3aa5-97a6',
 '45cceda0-6fb7',
 '9db1809e-845a',
 '3e60a98c-e520',
 'a17f0f1f-d9f6',
 'f0bb9e5a-eb11',
 '94c4ece8-bba6',
 '5ce60722-dbd1',
 '56126c14-b5b8',
 '83d174e1-5f9a',
 '355fe35a-5db7',
 'bdb3b33c-83a9',
 '06f377a6-ba7e',
 '77222291-e191',
 '1b22b0ab-aba3',
 'f86688f1-8742',
 '73ed1381-3a3f',
 '2618fdc4-e731',
 '7dbc4ebf-4b4f',
 '693a0664-bde6',
 'c3ae3600-3837',
 'f9d25524-9d69',
 '15edb406-305b',
 '424e8a3c-0377',
 '2189fc56-f82a',
 '0a37c2c7-6065',
 '379e0b03-4ca0',
 '90f662f9-c1e3',
 'e50d8395-da32',
 '165206d2-50a5',
 '590a776e-5049',
 '31d0095f-75bc',
 '297edb0f-3bb1',
 'ca3910f2-92ca',
 'ff619017-560f',
 'bbffebbc-e3c4',
 'bae9475e-7cad',
 'f31d1048-5fa9',
 '956cbf4a-d24e',
 '4534975d-bf92',
 '129c43ca-42ee',
 '98b8a2ca-8988',
 'dab579ee-1645',
 'dbf9fb14-2656',
 '0a2dceda-b597',
 '33b2b726-61a8',
 '25a28c93-508a',
 '9c53fb07-9b73',
 'fa286931-8ded',
 '94d8b70f-361d',
 '443324fb-5cfc',
 'adeed333-dbfd',
 'f6032812-464e',
 'c84dd06b-71f5',
 'd1808f44-48ce',
 'b9591d1a-8480',
 '04299d54-61d4',
 'a7e199e1-2c44',
 'feac3745-a2be',
 '9611f432-7f70',
 'f7fe4368-18e7',
 'a9d910f4-fe9a',
 '555a25cd-2d05',
 '91084359-8bd4',
 '8567249b-827e',
 '315e4f9d-2b0b',
 '7574bf9e-f3f9',
 'e850d228-6879',
 '0a2d6db4-0c54',
 '5718f600-12ac',
 '5edb4d2b-067c',
 '3511ed92-c434',
 '16ee3668-0b5b',
 '9878723a-0b58',
 'c8bb762f-3ef9',
 '382b378c-6383',
 '0d624cb8-e5f8',
 'db91a87c-3cbe',
 'e4936e97-da48',
 '8d1b6de3-9795',
 '249b09c0-f4c7',
 '5f38afd8-e138',
 '8f4a90bc-bbb0',
 'f37328b4-7b3a',
 'b3c9d09b-ed59',
 '9e6e766d-ba75',
 'dda76366-a407',
 '94d59251-fa7f',
 'c3ddce11-35e2',
 'df3d13be-9c13',
 'd5aeb496-64e5',
 'd50ebd87-8b6d',
 'f12b9d9e-ada0',
 '733aa344-0dae',
 'e07a0034-42af',
 '33bf169b-258a',
 'f63d8fbe-d79e',
 '3d61e71b-f65e',
 '27e04c06-487f',
 'a9870d3e-b4d1',
 '742d1d93-0d3b',
 '0170086d-7472',
 '51e5ff58-5a0f',
 '4a051fdc-d04c',
 'ebda7f71-7024',
 '5b8dce34-2ded',
 'ef889a72-06f5',
 '2ba2d987-103e',
 '8a6bbf3d-8a2d',
 'f11c5e51-a535',
 'd5905747-8aef',
 '266c34a2-16c9',
 '02e41927-a6df',
 '4cb27699-fe3f',
 'ff8b7170-ce3a',
 '6353fd55-d66e',
 'a51dbaae-d88b',
 '0a5048ae-e120',
 '3393c9e4-3345',
 '4cf8397f-6359',
 '1512a948-a7e4',
 '9929aa3b-d8f6',
 'ae6a7eed-bb58',
 'f5e3478e-cf68',
 'e668604e-21f6',
 '97f74dea-338e',
 'af1e3f79-f628',
 '428b26a3-dca2',
 'a53a8d32-2c61',
 '20050b52-5d6e',
 '75bdf204-83c2',
 '05009844-7be8',
 '80282ca6-96a6',
 'ad819541-5d3c',
 '0ab4e6e8-69e5',
 '59387843-6db1',
 '84dc097a-dee3',
 '62b1d551-2414',
 '1c7af562-f271',
 'ad63957b-ea9a',
 '0d66d575-c461',
 'effb69b1-d4d8',
 'dd019fd7-f591',
 '91c69d1a-8732',
 '0724677e-ec01',
 '04c32736-903c',
 'b74033dc-6e45',
 '5f79f818-18af',
 'd2a47fa6-0f6a',
 '0ad143f2-bd95',
 'c5a658d0-92da',
 'f0723a52-7018',
 '01355f46-3f0b',
 '96970f37-abaa',
 '68ff6fcd-1d49',
 '5795a795-bfa0',
 '994330b6-eeec',
 'ea8d41fd-b8a3',
 '168dcd08-0ed9',
 'e7cd8c1a-88e9',
 'e8ee55be-0a11',
 '71b26a8d-da70',
 'cd944abe-cef9',
 '3367c92b-b1ca',
 '63b20368-1a04',
 '54ada30b-750f',
 'b46f955f-9e8a',
 'b557f3c2-ebec',
 '2a8713e6-0f03',
 '1d58344c-5793',
 '0913d642-c5d4',
 '28866128-6286',
 'f20d8a3d-d047',
 '310d5326-56c7',
 '56945919-0933',
 '183f18d5-0b44',
 'b6ca3733-7459',
 'e39d23fe-aa5f',
 '4fcef74d-0b3d',
 '5deff6b6-62ff',
 '634d5510-7240',
 '26bde6da-f148',
 '4ae0efd7-2651',
 '060c8137-6a4e',
 '9389d6e1-e1a7',
 'a7559852-f405',
 'd6697da8-74fc',
 '72598524-ef0b',
 '8f9549b7-d5a4',
 'fd6033f4-cc72',
 'e3035b40-0c02',
 'c89b26ff-ec7f',
 '9a75e346-c849',
 'accba688-8ec1',
 '775d61d0-4715',
 '659da309-053c',
 'ffb9a143-c375',
 'af9f7f07-e228',
 '369e565a-26a1',
 '415c344e-309f',
 '98395d08-9643',
 'f0b963e7-4933',
 'e8bcb1bb-456e',
 '62608fd2-d7fb',
 '61ae560c-4479',
 '062f1fe4-9a66',
 '999b7824-373c',
 'b1c90397-5fb2',
 '47d9ee33-0df0',
 'a9ce8636-9a88',
 '0a8272b2-78aa',
 '2f4f4bc9-fd55',
 '7b7cc3cd-0b76',
 'ff6e1bd3-4e91',
 'f9bcd13e-96bc',
 '37499e8b-ac16',
 '16d73782-d5e6',
 '3fd4854f-8752',
 '8b62a9c9-7b64',
 '94e1b326-8c22',
 '63338f74-01be',
 '20b16b21-8b23',
 'cb18af1f-3b53',
 '9e74795e-cb34',
 '3fddeb07-b7f0',
 'db903e22-a55a',
 '85bd7f39-2e9b',
 'f41bbcf7-5f86',
 '7d5f3242-e1df',
 '87dec940-75b7',
 '37a1d9c2-701c',
 '9d3d2a55-dab6',
 '6d1fc219-67b0',
 '1bf3b4eb-d759',
 '97d1d2eb-c72f',
 'e8037410-5cd0',
 '91321f74-e4a4',
 'c5368117-b498',
 'c9826d63-f7d3',
 '5f483bdb-3aaf',
 '3884eeca-7714',
 '4dc45e9a-27bd',
 '64fe3b96-7ed0',
 '89d3cebd-346f',
 '73baf2c4-6e90',
 '823267c1-561b',
 '5f463f95-a4ae',
 '86477d4e-795e',
 'bbf202ae-a964',
 '42009c72-651f',
 'e7f574b9-0581',
 'a3e05a29-d6df',
 '3cfed539-ad58',
 '6ff744d5-91f0',
 'f56a0841-4328',
 '93b2c5f7-acea',
 '527c11ea-113e',
 'b4937915-ad67',
 '71b5009c-75c8',
 '52bcd5ae-72d3',
 'af052d9b-f06b',
 'ffa0f012-3bd7',
 '1a055566-c187',
 '7b6e060a-97a0',
 'ac821a7b-b399',
 '08425e64-bf76',
 '4f249cbc-5e9c',
 '40e75290-0f59',
 'fc73f07e-eb96',
 '2a8ad33f-fa9c',
 'cdae2be5-8ec4',
 'c69162db-4864',
 '73ea498f-44b2',
 '327d06d5-ce7f',
 'd13465a5-a9e0',
 '841ae407-dc4c']

We can see some duplicates here, and it looks like every duplicate ID has one row with data, and another row with all zeros. Is this the case for every duplicate ID? Let's check.

In [64]:
data.loc[data['ID'].isin(dup_ids[0:3]),:]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
5033,89f8f447-fca8,320000,2,2,1,32,0,0,0,0,...,169371,172868,150827,8000,8000,5500,6100,6000,5000,0
5133,89f8f447-fca8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16727,1fb3e3e6-a68d,80000,1,2,2,33,2,2,0,0,...,27394,29922,31879,0,2000,2000,3000,2600,0,1
16827,1fb3e3e6-a68d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29685,ad23fe5c-7b09,50000,1,3,1,32,0,0,0,0,...,12882,8131,3983,3000,2871,1000,163,3983,3771,1
29785,ad23fe5c-7b09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
data_zero_mask = data == 0
data_zero_mask

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,True,True,True,True,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,True,False,False,False,True,False,False
2,False,False,False,False,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,True
29996,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,True
29997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [97]:
zeros = data_zero_mask.iloc[:,1:].any(axis=1)
zeros

0        True
1        True
2        True
3        True
4        True
         ...
29995    True
29996    True
29997    True
29998    True
29999    True
Length: 30000, dtype: bool

In [107]:
data_cleaned = data.loc[zeros,:]
data_cleaned

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,ecff42d0-bdc6,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,99d1fa0e-222b,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,95cdd3e7-4f24,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,00d03f02-04cd,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,15d69f9f-5ad3,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

It looks like there are at least as many "zero rows" as there are duplicate IDs. Let's remove all the rows with all zero features and response, and see if that gets rid of the duplicate IDs.

In [111]:
data_cleaned.shape

(29588, 25)

In [119]:
 data_cleaned2 = data[~data['ID'].duplicated()]
 data_cleaned2

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,ecff42d0-bdc6,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,99d1fa0e-222b,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,95cdd3e7-4f24,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,00d03f02-04cd,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,15d69f9f-5ad3,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

29588

### Finding & Dealing with Missing Data

In [123]:
data_cleaned2.sample(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
4670,1c173e4f-f3db,500000,1,1,1,43,0,0,0,0,...,417759,428608,421871,17000,16500,15000,19000,18032,5000,1
3670,b130ad5a-f1e4,360000,2,2,2,29,Not available,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
8925,1233e164-03ad,20000,1,3,1,51,0,0,0,0,...,18905,19462,18967,1266,1270,2800,1000,0,512,1
3765,50e36089-66df,20000,2,2,2,22,Not available,0,0,0,...,16694,19040,18631,2000,1494,2000,5000,2000,1094,0
60,5c00d7e6-a804,500000,2,3,1,28,Not available,0,0,0,...,14937,13827,15571,1516,1300,1000,1000,2000,2000,1
3778,f9bb17f6-5a0e,230000,1,1,1,39,0,0,0,0,...,186989,159345,162695,11200,6200,6237,7000,6000,6100,0
22726,8469a759-1ea6,90000,2,1,2,31,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
16003,dff9306d-68be,230000,2,2,1,37,0,0,0,0,...,124743,127507,121400,4500,4600,4389,4697,4800,4000,0
15369,b39cf6eb-a7df,140000,2,2,1,45,0,0,0,0,...,60971,61374,63243,3000,3000,5000,2000,3000,2500,0
28134,38048f65-7530,550000,2,1,2,44,Not available,-1,-1,0,...,16111,22819,80846,30820,7851,19751,29700,80987,36158,0

Let's throw out these missing values, which were initially hidden from us in the `.info()` output, now.

==========

# *1] Data Cleaning & Preparation*

## Data Cleaning
- Detecting Missing Values
- Dealing with Missing Values
    - Removing Missing Data
    - Replacing Missing Data
- Data with Duplication
    - Detection of Duplicates
    - Handling Duplicates
- Outliers Detection / Handling

##### Importing Libraries & Data

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [ ]:
# Using well-known 'titanic' dataset
titanic = sns.load_dataset('titanic')
titanic

### Detecting & Dealing with Missing Values

##### Detecting Missing Values Using isna()

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.info()

In [ ]:
# Listing all missing data
titanic.isna()

In [ ]:
# Listing all non-missing data (the opposite)
titanic.notna()

In [ ]:
titanic[titanic.isna().values]

In [ ]:
# Find the total number of missing data
titanic.isna().sum()

In [ ]:
# Checking if the feature has missing values or not
titanic.isna().any(axis=0)

In [ ]:
# Returning all records with missing data
titanic[titanic.isna().any(axis=1)]

In [ ]:
# Let's visualize missing data
plt.figure(figsize=(20,10))
sns.heatmap(titanic.isna())

In [ ]:
titanic[titanic.embarked.isna()]

##### Removing Missing Data Using dropna()

In [ ]:
titanic['age'].isna().sum()

In [ ]:
titanic.shape

In [ ]:
titanic.dropna().shape

In [ ]:
titanic.dropna(axis=1, how='any', thresh=500, subset=['age'], inplace=True).shape

##### Handling Missing Data Using fillna() function

In [ ]:
titanic['age'].isna().sum()

In [ ]:
titanic['age'].mean(skipna=True)

In [ ]:
titanic['age'].fillna(round(titanic['age'].mean(skipna=True),2), inplace=True)

In [ ]:
titanic.fillna(method='ffill', axis=1)

In [ ]:
titanic['age'].isna().sum()

### Data with Duplication

##### Finding Duplicated Data Using duplicated() function

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
titanic.duplicated(subset=None)

In [ ]:
titanic[titanic.duplicated(subset=None)]

In [ ]:
titanic.duplicated(keep='first').sum()

In [ ]:
titanic[titanic.duplicated()].sort_values(by='fare')

In [ ]:
titanic.duplicated(subset=['survived','pclass']).sum()

In [ ]:
titanic[titanic.duplicated()]

##### Dealing with Duplicated Data

In [ ]:
titanic.drop(index=[870,877])

In [ ]:
titanic.drop_duplicates(['fare'], keep='first')

In [ ]:
titanic.drop_duplicates(ignore_index=True)

### Outliers Detection & Handling

##### Finding & Dealing with Outliers

In [ ]:
titanic.plot(subplots = True, figsize = (15,10))
plt.show()

In [ ]:
titanic.head()

In [ ]:
titanic.describe().round(2)

In [ ]:
titanic.boxplot('age')

In [ ]:
(titanic['age'] > 60).sum()

In [ ]:
titanic.loc[titanic['age'] > 60]

##### Handling / Removing Outliers

In [ ]:
titanic['fare'].sort_values(ascending=False)

In [ ]:
titanic[titanic['fare'] > 300]

In [ ]:
titanic.loc[titanic['fare'] > 300, 'fare'] = titanic['fare'].mean()

In [ ]:
(titanic['fare'] > 300).sum()

In [ ]:
titanic.iloc[679]

In [ ]:
titanic.boxplot('fare')

==========

## String Manipulation (Regular Expressions)
- Python String Functions Overview
- Vectorized String Operations
- Dealing with Categorical Data
- Regular Expressions Basics

##### Python Strings Functions

| Method         	| Description                                                                                   	|
|----------------	|-----------------------------------------------------------------------------------------------	|
| capitalize()   	| Converts the first character to upper case                                                    	|
| casefold()     	| Converts string into lower case                                                               	|
| center()       	| Returns a centered string                                                                     	|
| count()        	| Returns the number of times a specified value occurs in a string                              	|
| encode()       	| Returns an encoded version of the string                                                      	|
| endswith()     	| Returns true if the string ends with the specified value                                      	|
| expandtabs()   	| Sets the tab size of the string                                                               	|
| find()         	| Searches the string for a specified value and returns the position of where it was found      	|
| format()       	| Formats specified values in a string                                                          	|
| format_map()   	| Formats specified values in a string                                                          	|
| index()        	| Searches the string for a specified value and returns the position of where it was found      	|
| isalnum()      	| Returns True if all characters in the string are alphanumeric                                 	|
| isalpha()      	| Returns True if all characters in the string are in the alphabet                              	|
| isdecimal()    	| Returns True if all characters in the string are decimals                                     	|
| isdigit()      	| Returns True if all characters in the string are digits                                       	|
| isidentifier() 	| Returns True if the string is an identifier                                                   	|
| islower()      	| Returns True if all characters in the string are lower case                                   	|
| isnumeric()    	| Returns True if all characters in the string are numeric                                      	|
| isprintable()  	| Returns True if all characters in the string are printable                                    	|
| isspace()      	| Returns True if all characters in the string are whitespaces                                  	|
| istitle()      	| Returns True if the string follows the rules of a title                                       	|
| isupper()      	| Returns True if all characters in the string are upper case                                   	|
| join()         	| Joins the elements of an iterable to the end of the string                                    	|
| ljust()        	| Returns a left justified version of the string                                                	|
| lower()        	| Converts a string into lower case                                                             	|
| lstrip()       	| Returns a left trim version of the string                                                     	|
| maketrans()    	| Returns a translation table to be used in translations                                        	|
| partition()    	| Returns a tuple where the string is parted into three parts                                   	|
| replace()      	| Returns a string where a specified value is replaced with a specified value                   	|
| rfind()        	| Searches the string for a specified value and returns the last position of where it was found 	|
| rindex()       	| Searches the string for a specified value and returns the last position of where it was found 	|
| rjust()        	| Returns a right justified version of the string                                               	|
| rpartition()   	| Returns a tuple where the string is parted into three parts                                   	|
| rsplit()       	| Splits the string at the specified separator, and returns a list                              	|
| rstrip()       	| Returns a right trim version of the string                                                    	|
| split()        	| Splits the string at the specified separator, and returns a list                              	|
| splitlines()   	| Splits the string at line breaks and returns a list                                           	|
| startswith()   	| Returns true if the string starts with the specified value                                    	|
| strip()        	| Returns a trimmed version of the string                                                       	|
| swapcase()     	| Swaps cases, lower case becomes upper case and vice versa                                     	|
| title()        	| Converts the first character of each word to upper case                                       	|
| translate()    	| Returns a translated string                                                                   	|
| upper()        	| Converts a string into upper case                                                             	|
| zfill()        	| Fills the string with a specified number of 0 values at the beginning                         	|

##### Vectorized String Operations

In [ ]:
data = {'Name': ['Mustafa, Ahmed S.', 'Othman, mustafa M.', 'Mazen, Mariam ', 'Burhan, Saddik', 'Abdullah, Omnia N.', 'Jalil, Mustafa'],
       'Age': [26, 34, 18, 36, 28, 38],
       'Country': ['UAE', 'EGY', 'EGY', 'ERI', 'KSA', 'MAR'],
       'M/F': ['M','M','F','M','F', 'M'],
       'Email': ['a.mustafa@teqanny.com', 'm.othman@raqameyyah.com', 'm.mazen@teqanny.com','s.burhan@teqanny.com','o.nasser@teqanny.com','m.jalil@teqanny.com'],
       'Buy': ['Yes', 'No', 'no','Yes','No','Yes']}

students = pd.DataFrame(data)
students

In [ ]:
# Using 'str' for vectorized string operations

students.Email.str.len()
# students['Email'].apply(len)

In [ ]:
students.loc[students.Name.str.startswith('M')]

In [ ]:
students.Name.str.find('Mustafa')

In [ ]:
# String splitting
students['Name'].str.split(', ')

In [ ]:
students['Name'].str.split(', ')[1][0]

In [ ]:
# Getting students' last names
students['Name'].str.split(', ').str.get(1)

In [ ]:
# Getting students' first names
students['Name'].str.split(', ').str.get(1)

In [ ]:
students['First Name'] = students['Name'].str.split(', ').str.get(1)
students['Last Name'] = students['Name'].str.split(', ').str.get(0)

In [ ]:
students

In [ ]:
students['Name'].str.split(expand=True)

In [ ]:
students[['Last Name', 'First Name']] = students.Name.str.split(', ', expand=True)

In [ ]:
students

In [ ]:
# Matching a specific features
students[students.Country.str.match('EGY')]

In [ ]:
# Concatenating two features
students['M/F'].str.cat(students['Age'].astype(str), sep='_')

In [ ]:
# Searching for a specific record
students[(students.Name.str.contains('Mustafa')) & (students.Age >= 35)]

In [ ]:
# Replacing values
students['M/F'] = students['M/F'].str.replace('F','Female').str.replace('M','Male')
students

##### Dealing with Categorical Data

In [ ]:
students['Buy'].dtype

In [ ]:
students.convert_dtypes()

In [ ]:
students.info()

In [ ]:
students['Buy'] = students['Buy'].astype('category')

In [ ]:
students.info()

In [ ]:
students['Buy'] = students['Buy'].cat.rename_categories({'No':'N', 'Yes':'Y'})
# cat.set_categories()
# cat.add_categories()
# cat.remove_categories()
# cat.reorder_categories()

In [ ]:
students['Buy'].dtype

In [ ]:
students

In [ ]:
# Label-Encoding
students['Buy'].cat.codes

In [ ]:
# One-Hot-Encoding
pd.get_dummies(students, columns=['Buy'])

In [ ]:
# Let's change the data a little bit to add pitfalls 
students['Buy'].cat.categories

In [ ]:
students['Buy'].replace({'Noo':'No'}, inplace=True)

In [ ]:
students['Buy'].str.title(inplace=True)

In [ ]:
students

##### Regular Expressions Basics (RegEx)
RegEx functions fall into three categories: pattern matching, substitution, and splitting

- RegEx Cheat-sheet: https://www.dataquest.io/wp-content/uploads/2019/03/python-regular-expressions-cheat-sheet.pdf
- A useful tool: https://regex101.com/
- Exercises: https://www.geeksforgeeks.org/tag/python-regex-programs/

In [ ]:
from IPython.display import Image
Image("data/regex.png")

In [ ]:
# loading regular expression library 're'
import re

In [ ]:
text = 'foo    bar\t baz    \tqux'

In [ ]:
re.split('\s+', text)

# regex = re.compile('\s+')
# regex.split(text)

In [ ]:
re.findall('\s+', text)

In [ ]:
# A regular expression for matching email addresses
email_regex = r'\w\S*@.*raqameyyah'

In [ ]:
# Find specific emails (works on Series)
students['Email'].str.findall(email_regex)

# re.findall(email_regex, 'm,othman@raqameyyah')

In [ ]:
# Return all students who have 'Mustafa' as their first names
students.loc[students['Name'].str.contains(r"\s[mM]ustafa")]

==========

## Data Transformation
- Shuffling Data
- Mapping
- Discretization
- Normalizing, Standardization & Scaling

##### Shuffling Data Using sample()

In [ ]:
titanic.sample()

In [ ]:
titanic_sample = titanic.sample(10).reset_index(drop=True)
titanic_sample

##### Mapping Using map() Function

In [ ]:
titanic.sample(5)

In [ ]:
titanic['pclass'] = titanic['pclass'].map({1:'First', 2:'Second', 3:'Third'})

In [ ]:
titanic.head()

##### Discretization & Bining Using cut() Function

In [ ]:
# Grouping people by their ages' ranges
pd.cut(titanic['age'], bins=[0,10,18,30,45,65,100], precision=2).value_counts()
# pd.cut(titanic['age'], 6).value_counts()

In [ ]:
titanic['ages_ranges'] = pd.cut(titanic['age'], bins=[0,10,18,30,45,65,100],
                                labels=['Child', 'Teenager', 'Adult', 'Youth', 'MiddleAged', 'Senior'])
titanic

In [ ]:
sns.countplot(titanic['ages_ranges'])
# titanic['ages_ranges'].hist()

In [ ]:
# Calculate the average values for each ages ranges
titanic.groupby('ages_ranges')['survived'].mean()

In [ ]:
# Discretize variable into equal-sized buckets
pd.qcut(titanic['fare'],3,['Cheap','Normal','Expensive']).value_counts()

##### Scaling & Standardization

In [ ]:
titanic.describe()

In [ ]:
plt.figure(figsize=(20,10))
titanic['fare'].plot()
plt.show()

In [ ]:
titanic['fare'] = ((titanic['fare'] - titanic['fare'].mean()) / titanic['fare'].std()).round(2)
titanic

In [ ]:
titanic.describe().round(2)

==========

# THANK YOU!